<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <!--    <style>-->
    <!--        /* 간단한 CSS 스타일링을 추가할 수 있습니다. */-->
    <!--        body {-->
    <!--            font-family: Arial, sans-serif;-->
    <!--        }-->
    <!--        table {-->
    <!--            border-collapse: collapse;-->
    <!--            width: 100%;-->
    <!--        }-->
    <!--        th, td {-->
    <!--            border: 1px solid #dddddd;-->
    <!--            padding: 8px;-->
    <!--            text-align: left;-->
    <!--        }-->
    <!--        th {-->
    <!--            background-color: #f2f2f2;-->
    <!--        }-->
    <!--    </style>-->
</head>
<body>

<p>
    <a href="/board/write">게시글 작성</a>
</p>

<!--<a th:href="add">[신규]</a>-->
<!--<a th:text="${boardList}">-->


</a>

<form id = "boardList" name = "boardList" method="get">
    <!--    <input type = "hidden" name = "bno"/>-->

    <table border="1">
        <thead>
        <tr>
            <td>게시글번호</td>
            <td>이름</td>
            <td>제목</td>
            <td>내용</td>
            <td>작성일자</td>

        </tr>
        </thead>
        <tbody>
        <tr th:each = "result:${boardList}">
            <td th:text="${result.BNO}"></td>
            <td><a th:href="@{/board/view/{bno}(bno=${result.BNO})}" th:text="${result.USERNAME}"></a></td>
            <td th:text="${result.BOARD_TITLE}"></td>
            <td th:text="${result.CONTENT}"></td>
            <td th:text="${#dates.format(result.POST_DATE, 'yyyy-MM-dd')}"></td>

            <!--            <td th:if="${result.BOARD_TITLE} == null">No Title</td>-->

        </tr>
        </tbody>
    </table>
</form>


</body>
</html>