<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 글 쓰기</title>
</head>
<body>
    <form method="post" action = "/board/add">
        <input type = "submit" value = "Submit">
        <table border = "1">
            <tr>
                <th>제목</th>
                <td><input name="TITLE" size="50" /> <span th:class="fieldError">
			</span></td>
            </tr>

            <tr>
                <th>유저</th>
                <td><input name="WRITER" size="50" /> <span th:class="fieldError">
			</span></td>
            </tr>

            <tr>
                <th>내용</th>
                <td><input name="CONTENT" size="100" /> <span th:class="fieldError">
			</span></td>
            </tr>
        </table>

    </form>
</body>
</html>