<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.snowe.mapper.AdminMapper">


    <!-- =========== -->
    <!-- 강사 임명하기 -->
    <!-- =========== -->
    <insert id="addTeacher" parameterType="com.capstone.snowe.dto.TeacherDTO">
        INSERT INTO TEACHER(
                            LOGIN_ID,
                            NAME,
                            RESORT_ID,
                            CLASSIFICATION,
                            CLASS_LEVEL,
                            INTRODUCE,
                            CAREER,
                            HISTORY,
                            TEAM
                            )
        SELECT LOGIN_ID,
                NAME,
                RESORT_ID,
                CLASSIFICATION,
                CLASS_LEVEL,
                INTRODUCE,
                CAREER,
                HISTORY,
                TEAM
        FROM
            APPLY_TEACHER
        WHERE
            LOGIN_ID = #{loginId}
        -- 페이지에서 사람을 클릭해서 강사로 변경....하기?
    </insert>

    <!-- =========== -->
    <!-- 전체 신청 목록 -->
    <!-- =========== -->
    <select id="getApply" resultType="com.capstone.snowe.dto.TeacherDTO">
        select *
        from apply_teacher
    </select>

    <!-- =========== -->
    <!-- 승인 되지 않은 신청 목록 -->
    <!-- =========== -->
    <select id="getApplyN" resultType="com.capstone.snowe.dto.TeacherDTO">
        select *
        from apply_teacher
        where stat =  'N'
    </select>
</mapper>
