<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.snowe.mapper.BoardMapper">

    <!-- 전체 컬럼 지정 -->
    <sql id="postColumns">
        BOARD_ID,
        TITLE,
        CONTENT,
        LOGIN_ID,
        CREATE_DATE,
        RECOMMEND_COUNT,
        VIEW_COUNT,
        COMMENT_COUNT,
        DEL_YN
    </sql>
<!--,
        MODIFIED_DATE,
        VIEW_CNT,
        DEL_YN,
        NOTICE_YN-->


    <!-- ============== -->
    <!-- 게시글 목록 조회  -->
    <!-- 게시글 정렬 최신순 -->
    <!-- ============== -->
    <select id = "getBoardList" resultType="com.capstone.snowe.dto.BoardDTO">
        SELECT
            <include refid="postColumns" />
        FROM
            BOARD
        WHERE
            DEL_YN = 'N'
        ORDER BY BOARD_ID DESC
    </select>
    <!-- ============== -->
    <!-- 게시글 오래된 순  -->
    <!-- ============== -->
    <select id = "oldGetBoardList" resultType="com.capstone.snowe.dto.BoardDTO">
        SELECT
            <include refid="postColumns"/>
        FROM
            BOARD
        WHERE
            DEL_YN = 'N'
        ORDER BY BOARD_ID
    </select>


    <!-- 게시글 작성 -->
    <insert id = "addBoard" parameterType="com.capstone.snowe.dto.BoardDTO">
        INSERT INTO BOARD (
                           BOARD_ID,
                           TITLE,
                           LOGIN_ID,
                           CONTENT
                            )
                VALUES (
                        BNO_SEQ.NEXTVAL,
                        #{title},
                        #{loginId},
                        #{content}
                        )
    </insert>

    <!-- 게시글 상세보기, 게시글 번호 가져오기 -->
    <select id = "getBoardId" parameterType="int" resultType="com.capstone.snowe.dto.BoardDTO">
        SELECT
            <include refid="postColumns" />
        FROM
            BOARD
        WHERE
            BOARD_ID = #{boardId}
            AND DEL_YN = 'N'
    </select>

    <!-- 게시글 수정 -->
    <update id = "editBoard" parameterType="com.capstone.snowe.dto.BoardDTO">
        UPDATE BOARD
        SET
            TITLE = #{title},
            CONTENT = #{content}
        WHERE
            BOARD_ID = #{boardId}
    </update>

    <!-- 게시글 삭제(삭제유무) -->
    <update id = "delBoard" parameterType="int">
        UPDATE
            BOARD
        SET
            DEL_YN = 'Y'
        WHERE
            BOARD_ID = #{boardId}
            AND DEL_YN = 'N'
    </update>

    <!-- 게시글 삭제 -->
    <!--<delete id = "delBoard" parameterType="int">
        DELETE
        FROM
            BOARD
        WHERE
            BOARD_ID = #{BOARD_ID}
    </delete>-->

    <!-- 제목으로 게시글 검색 기능 -->
    <select id = "searchBoard" parameterType="String" resultType="com.capstone.snowe.dto.BoardDTO">
        SELECT
            <include refid="postColumns" />
        FROM
            BOARD
        WHERE
            DEL_YN = 'N' AND
        /* 검색 조건이 제목일 경우 */
        <if test = 'searchType.equals("title")'>
            TITLE LIKE '%' || #{keyword} || '%'
        </if>
        /* 검색 조건이 내용일 경우*/
        <if test = 'searchType.equals("content")'>
            CONTENT LIKE '%' || #{keyword} || '%'
        </if>
        /* 검색 조건이 제목+내용일 경우*/
        <if test = 'searchType.equals("title_content")'>
            TITLE LIKE '%' || #{keyword} || '%'
                OR CONTENT LIKE '%' || #{keyword} || '%'
        </if>
        /* 검색 조건이 작성자일 경우*/
        <if test = 'searchType.equals("writer")'>
            LOGIN_ID LIKE '%' || #{keyword} || '%'
        </if>
        ORDER BY BOARD_ID DESC
    </select>

    <!-- ============== -->
    <!-- 게시글 추천수 증가-->
    <!-- ============== -->
    <update id = "increaseRecommendCount" parameterType="int">
        UPDATE
            BOARD
        SET
            RECOMMEND_COUNT = RECOMMEND_COUNT + 1
        WHERE
            BOARD_ID = #{boardId}
    </update>

    <!-- ============== -->
    <!-- 게시글 조회수 증가-->
    <!-- ============== -->
    <update id = "increaseViewCount" parameterType="int">
        UPDATE
            BOARD
        SET
            VIEW_COUNT = VIEW_COUNT + 1
        WHERE
            BOARD_ID = #{boardId}
    </update>

    <!-- ============== -->
    <!--   댓글 개수 증가 -->
    <!-- ============== -->
    <update id = "increaseCommentCount" parameterType="int">
        UPDATE
            BOARD B
        SET COMMENT_COUNT = (SELECT
                                    COUNT(COMMENT_ID)
                              FROM
                                    COMMENTS
                              WHERE
                                    BOARD_ID = #{boardId}
                                AND DEL_YN = 'N'
                                  )
        WHERE
            B.BOARD_ID = #{boardId}
    </update>







    <!--               -->
    <!--페이징 처리를 위해-->
    <!-- 게시글 총 개수  -->
    <!--<select id = "boardCount" resultType="int">
        SELECT COUNT(BOARD_ID)
        FROM BOARD
    </select>
    &lt;!&ndash; 페이징 기능  &ndash;&gt;
    <select id = "boardPage" parameterType="hashMap" resultType="com.capstone.snowe.dto.BoardDTO">
        SELECT
            <include refid="postColumns" />
        FROM
            (
                SELECT
                    ROWNUM AS RNUM, BOARD.*
                FROM
                    BOARD
                WHERE
                    ROWNUM <= #{endRow}
                ORDER BY BOARD.BOARD_ID DESC
            )
        WHERE
        #{startRow} <= RNUM
    </select>-->


</mapper>