<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.snowe.mapper.BoardFileMapper">
    <sql id="fileColumns">
        FILE_ID,
        BOARD_ID,
        FILE_ONAME,
        FILE_PATH,
        FILE_SIZE,
        FILE_TYPE,
        UPLOAD_DATE,
        FILE_SNAME,
        UUID
    </sql>

    <sql id="teacherFileColumns">
        FILE_ID,
        LOGIN_ID,
        FILE_ONAME,
        FILE_PATH,
        FILE_SIZE,
        FILE_TYPE,
        UPLOAD_DATE,
        FILE_SNAME,
        UUID
    </sql>


    <!-- ============== -->
    <!-- 게시판 파일 리스트-->
    <!-- ============== -->
    <select id="getFileByBoard" resultType="com.capstone.snowe.dto.BoardFileDTO">
        SELECT
            <include refid="fileColumns"/>
        FROM
            BOARD_FILE
        WHERE
            BOARD_ID = #{boardId}
    </select>

    <select id="getFileByBoardTest" resultType="com.capstone.snowe.dto.BoardFileDTO">
        SELECT
        <include refid="fileColumns"/>
        FROM
        BOARD_FILE
        WHERE

    </select>


    <!-- ============== -->
    <!-- 게시판 파일 업로드-->
    <!-- BOARD insert시 추가   -->
    <!-- ============== -->
    <insert id="insertBoardFile" parameterType="com.capstone.snowe.dto.BoardFileDTO">
        INSERT INTO
            BOARD_FILE (
                <include refid="fileColumns" />
                )
        VALUES (

                    B_FILE_SEQ.NEXTVAL,
                    #{boardId},
                    #{fileOName},
                    #{filePath},
                    #{fileSize},
                    #{fileType},
                    sysdate,
                    #{fileSName},
                    #{uuid}
               )
    </insert>

    <!-- ============== -->
    <!-- 강사신청 파일 업로드-->
    <!-- member/apply    -->
    <!-- ============== -->
    <insert id="insertApplyTeacherFile" parameterType="com.capstone.snowe.dto.BoardFileDTO">
        INSERT INTO
        APPLY_TEACHER_FILE (
        <include refid="teacherFileColumns"/>
        )
        VALUES (
        T_FILE_SEQ.NEXTVAL,
        #{loginId},
        #{fileOName},
        #{filePath},
        #{fileSize},
        #{fileType},
        sysdate,
        #{fileSName},
        #{uuid}
        )
    </insert>

</mapper>