<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.snowe.mapper.BoardFileMapper">
    <sql id="fileColumns">
        FILE_ID,
        BOARD_ID,
        FILE_ONAME,
        FILE_PATH,
        FILE_SIZE,
        FILE_TYPE,
        UPLOAD_DATE,
        FILE_SNAME,
        UUID
    </sql>



    <!-- ============== -->
    <!-- 게시판 파일 리스트-->
    <!-- ============== -->
    <!--<select id="getFileByBoard" parameterType="int" resultType="com.capstone.snowe.dto.BoardFileDTO">
        SELECT
            <include refid="postColumns"/>
        FROM
            BOARD_FILE
        WHERE
            BOARD_ID = #{boardId}

    </select>-->


    <!-- ============== -->
    <!-- 게시판 파일 업로드-->
    <!-- insert시 추가   -->
    <!-- ============== -->
    <insert id="insertBoardFile" parameterType="com.capstone.snowe.dto.BoardFileDTO">
        INSERT INTO
            BOARD_FILE (
                <include refid="fileColumns" />
                )
        VALUES (

                    B_FILE_SEQ.NEXTVAL,
                    #{boardId},
                    #{fileOName},
                    #{filePath},
                    #{fileSize},
                    #{fileType},
                    sysdate,
                    #{fileSName},
                    #{uuid}
               )

    </insert>

</mapper>