<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.snowe.mapper.MemberMapper">


    <!-- member 테이블 전체 컬럼 -->
    <sql id="memberColumns">
        login_id
      , password
      , name
      , birthday
      , gender
      , nickname
      , role
      , created_date
      , modified_date
    </sql>

    <!-- 회원 정보 저장 (회원가입) -->
    <insert id="signup" parameterType="com.capstone.snowe.dto.MemberDTO">
        INSERT INTO member (
        <include refid="memberColumns" />
        ) VALUES (
        #{loginId}
        , #{password}
        , #{name}
        , #{birthday}
        , #{gender}
        , #{nickname}
        , 'USER'
        , SYSDATE
        , NULL
        )
    </insert>

    <!-- 회원 상세정보 조회 -->
    <select id="findByLoginId" parameterType="string" resultType="com.capstone.snowe.dto.MemberDTO">
        SELECT
        <include refid="memberColumns" />
        FROM
        member
        WHERE
        login_id = #{value}
    </select>


    <!-- 회원 수 카운팅 (ID 중복 체크) -->
    <select id="countByLoginId" parameterType="string" resultType="int">
        SELECT
            COUNT(*)
        FROM
            member
        WHERE
            login_id = #{value}
    </select>

    <select id="checkNickname" parameterType="string" resultType="int">
        SELECT
            COUNT(*)
        FROM
            member
        WHERE
            nickname = #{value}
    </select>
</mapper>