<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.snowe.mapper.TeacherMapper">

    <!-- =========== -->
    <!-- 강사 임명하기 -->
    <!-- =========== -->
    <insert id="addTeacher" parameterType="com.capstone.snowe.dto.TeacherDTO">
        INSERT INTO TEACHER(ID, NAME)
        SELECT LOGIN_ID,
               NAME
        FROM MEMBER
        WHERE LOGIN_ID = #{id}
        -- 페이지에서 사람을 클릭해서 강사로 변경....하기?
    </insert>

    <!-- =============================================== -->
    <!-- 강사 임명 후 MEMBER테이블 회원코드를 강사(1)로 업데이트-->
    <!-- =============================================== -->
    <update id="perCodeUpdate" parameterType="com.capstone.snowe.dto.MemberDTO">
        UPDATE
            MEMBER
        SET
            PER_CODE = 1
        WHERE
            LOGIN_ID = #{id}
    </update>

    <!-- ======================================= -->
    <!-- 강사 설정 (본인 나와바리 스키장이 어딘지 설정) -->
    <!-- 강사 설명이 될 수도 있고 다른 정보들이 추가될 수도 있음 -->
    <!-- ======================================= -->
    <update id="updateTeacherStat" parameterType="com.capstone.snowe.dto.TeacherDTO">
        UPDATE
            TEACHER
        SET
            RESORT_ID = #{resortId} -- 콤보박스라던지 VALUE를 RST01~10, 그에 맞게 스키장명을 일치시켜, 화면에서는 스키장명으로 뜨고 실제 VALUE는 RESORT_ID의 값으로 들어오게
        WHERE
            ID = #{id} -- 현재 세션 ID 가져옴
    </update>


</mapper>